$primary__white: #ffffff;
$primary__dark-blue: #052951;
$primary__blue: #00B9EA;
$primary__grey: #EEEFF1;
$primary__red: #E10E49;
$secondary__grey-darker: #666666;
$secondary__grey-dark: #909090;
$secondary__grey: #CCCCCC;
$secondary__grey-light: #E2E2E2;
$secondary__grey-lighter: #F5F3EE;
$secondary__grey-lightest: #F9F9F9;
$secondary__blue: #A2DAF4;
$secondary__blue-light: #D5EDFA;
$secondary__blue-lighter: #EBF6FC;


.color-primary__white {
    color: $primary__white;
}

.color-primary__dark-blue {
    color: $primary__dark-blue;
}

.color-primary__blue {
    color: $primary__blue;
}

.color-primary__grey {
    color: $primary__grey;
}

.color-primary__red {
    color: $primary__red;
}

.color-secondary__grey-dark {
    color: $secondary__grey-dark;
}

.color-secondary__grey {
    color: $secondary__grey;
}

.color-secondary__grey-light {
    color: $secondary__grey-light;
}

.color-secondary__grey-lighter {
    color: $secondary__grey-lighter;
}

.color-secondary__grey-lightest {
    color: $secondary__grey-lightest;
}

.color-secondary__blue {
    color: $secondary__blue;
}

.color-secondary__blue-light {
    color: $secondary__blue-light;
}

.color-secondary__blue-lighter {
    color: $secondary__blue-lighter;
}

.bgcolor-primary__white {
    background-color: $primary__white;
}

.bgcolor-primary__dark-blue {
    background-color: $primary__dark-blue;
}

.bgcolor-primary__blue {
    background-color: $primary__blue;
}

.bgcolor-primary__grey {
    background-color: $primary__grey;
}

.bgcolor-primary__red {
    background-color: $primary__red;
}


.bgcolor-secondary__grey-dark {
    background-color: $secondary__grey-dark;
}

.bgcolor-secondary__grey {
    background-color: $secondary__grey;
}

.bgcolor-secondary__grey-light {
    background-color: $secondary__grey-light;
}

.bgcolor-secondary__grey-lighter {
    background-color: $secondary__grey-lighter;
}

.bgcolor-secondary__grey-lightest {
    background-color: $secondary__grey-lightest;
}

.bgcolor-secondary__blue {
    background-color: $secondary__blue;
}

.bgcolor-secondary__blue-light {
    background-color: $secondary__blue-light;
}

.bgcolor-secondary__blue-lighter {
    background-color: $secondary__blue-lighter;
}
